apps/node_modules/.bin/prettier
apps/node_modules/.bin/prettier.cmd
apps/node_modules/.bin/prettier.ps1
apps/node_modules/prettier/doc.d.ts
apps/node_modules/prettier/doc.js
apps/node_modules/prettier/doc.mjs
apps/node_modules/prettier/index.cjs
apps/node_modules/prettier/index.d.ts
apps/node_modules/prettier/index.mjs
apps/node_modules/prettier/LICENSE
apps/node_modules/prettier/README.md
apps/node_modules/prettier/standalone.d.ts
apps/node_modules/prettier/standalone.js
apps/node_modules/prettier/standalone.mjs
apps/node_modules/prettier/bin/prettier.cjs
apps/node_modules/prettier/internal/cli.mjs
apps/node_modules/prettier/plugins/acorn.d.ts
apps/node_modules/prettier/plugins/acorn.js
apps/node_modules/prettier/plugins/acorn.mjs
apps/node_modules/prettier/plugins/angular.d.ts
apps/node_modules/prettier/plugins/angular.js
apps/node_modules/prettier/plugins/angular.mjs
apps/node_modules/prettier/plugins/babel.d.ts
apps/node_modules/prettier/plugins/babel.js
apps/node_modules/prettier/plugins/babel.mjs
apps/node_modules/prettier/plugins/estree.d.ts
apps/node_modules/prettier/plugins/estree.js
apps/node_modules/prettier/plugins/estree.mjs
apps/node_modules/prettier/plugins/flow.d.ts
apps/node_modules/prettier/plugins/flow.js
apps/node_modules/prettier/plugins/flow.mjs
apps/node_modules/prettier/plugins/glimmer.d.ts
apps/node_modules/prettier/plugins/glimmer.js
apps/node_modules/prettier/plugins/glimmer.mjs
apps/node_modules/prettier/plugins/graphql.d.ts
apps/node_modules/prettier/plugins/graphql.js
apps/node_modules/prettier/plugins/graphql.mjs
apps/node_modules/prettier/plugins/html.d.ts
apps/node_modules/prettier/plugins/html.js
apps/node_modules/prettier/plugins/html.mjs
apps/node_modules/prettier/plugins/markdown.d.ts
apps/node_modules/prettier/plugins/markdown.js
apps/node_modules/prettier/plugins/markdown.mjs
apps/node_modules/prettier/plugins/meriyah.d.ts
apps/node_modules/prettier/plugins/meriyah.js
apps/node_modules/prettier/plugins/meriyah.mjs
apps/node_modules/prettier/plugins/postcss.d.ts
apps/node_modules/prettier/plugins/postcss.js
apps/node_modules/prettier/plugins/postcss.mjs
apps/node_modules/prettier/plugins/typescript.d.ts
apps/node_modules/prettier/plugins/typescript.js
apps/node_modules/prettier/plugins/typescript.mjs
apps/node_modules/prettier/plugins/yaml.d.ts
apps/node_modules/prettier/plugins/yaml.js
apps/node_modules/prettier/plugins/yaml.mjs
